main.cpp
main.h
.DS_Store
xcuserdata
project.xcworkspace
*.vcxproj
*.filters
*.user
*.log
*.lastbuildstate
*.tlog
*.obj
*.idb
*.pdb
*.sln
*.db
Debug
/out.txt
/in.txt
/Algorithm.zip
*.txt
*.suo
*.ipch
*.opendb
